/* index.html stylesheet */
#wrap {}
#wrap header {}
#wrap header h1 {}
#wrap header h1 a {}
#wrap header h1 a img {}
#wrap header nav {}
#wrap header nav .gnb {}
#wrap header nav .gnb li {}
#wrap header nav .gnb li a {
    font-size: 1.125rem ;
    font-weight: 600;
    letter-spacing: -0.02rem;
    /*  text-align: left;
    line-height: 1;
    color: #000;
    font-family: 'pretendard', sans-serif;
    */
}
#wrap header .right_wrap {}
#wrap header .right_wrap li {}
#wrap header .right_wrap li a {
    font-size: 0.75rem;
}
#wrap header .right_wrap li a img {}
/* ===========================================================footer */
#wrap footer {}
#wrap footer .top_wrap {}
#wrap footer .top_wrap .fnb {}
#wrap footer .top_wrap .fnb a {
    letter-spacing: -0.02rem;
}
#wrap footer .top_wrap .fnb a:first-child {
    color: #138FBF;
    font-weight: 600;
    letter-spacing: -0.02rem;
}
#wrap footer .top_wrap .fnb a:nth-child(2) {
    color: #DA2128;
    font-weight: 600;
    letter-spacing: -0.02rem;
}
#wrap footer .top_wrap .fnb a:last-child {
    width: 60px; height: 60px;
    display: block;
}
#wrap footer .top_wrap .fnb a img {}
#wrap footer .top_wrap .right_wrap {}
/* ==========================================================footer 패밀리사이트+사이트맵 공통 */
#wrap footer .top_wrap .right_wrap .site {
    font-size: 0.75rem;
    letter-spacing: -0.02rem;
    border: 1px solid #eee;
    padding: 7px 10px;
}
/* ==========================================================footer 패밀리사이트+사이트맵 개별 */
#wrap footer .top_wrap .right_wrap select {}
#wrap footer .top_wrap .right_wrap select option {}
#wrap footer .top_wrap .right_wrap .site_map {
    padding: 7px 10px;
    display: inline-block;
}
#wrap footer .top_wrap .right_wrap .site_map span {
    font-size: 0.75rem;
    letter-spacing: -0.02rem;
    padding-right: 40px
}
#wrap footer .top_wrap .right_wrap .site_map span img {
}
#wrap footer .bottom_wrap {}
#wrap footer .bottom_wrap * {
    color: #808080;
    font-size: 0.875rem;
    line-height: 1.5;
    letter-spacing: -0.02rem;
}
#wrap footer .bottom_wrap address {
    
}
#wrap footer .bottom_wrap address em {
    font-weight: 600;
}
#wrap footer .bottom_wrap p {}