/* ir.css */
#wrap main .path {
    text-align: right;
    background-color: #FCFCFC;
    border-top: 1px solid #f1f1f1;
    padding: 14px 60px 14px 0;
    font-size: 0.75rem;
}
#wrap main .path a:first-child {
    text-transform: capitalize;
}
#wrap main .path a:nth-child(3) {
    text-transform: uppercase;
}
#wrap main .path img {
    margin: 0 8px;
}
#wrap main h1 {
    border-top: 1px solid #f1f1f1;
    margin-bottom: 20px;
    padding-top: 80px;
    font-size: 3.75rem;
    font-weight: 700;
    text-align: center;
}
#wrap main >p {
    text-align: center;
    font-size: 1.125rem;
    line-height: 1.5;
    padding-bottom: 80px
}
#wrap main .bg {
    background-color: #FCFCFC;
    padding: 80px 0;
}
/* 레이아웃 위치/정렬 기법 inline-block, float, flex, grid, position */
#wrap main .bg .ir_list {
    width: 1280px; height: 250px;
    /* overflow: hidden; */
    margin: 0 auto;
    padding: 0 80px;
}
/* #wrap main .bg .ir_list a:nth-child(4) {
    float:right;
} 오른쪽 여백 확인 */
#wrap main .bg .ir_list a {
    background-color: #f5f5f5;
    float: left;
    border: 1px solid #ddd;
    width: 260px; height: 250px;
    text-align: left;
    padding: 40px;
    margin-right: 26.67px;
    background-repeat: no-repeat;
    background-position: 90% 95%;
}
#wrap main .bg .ir_list a:hover {/* a에 마우스 올렸을 때 디자인 */
    background-color: #fff;
    border: 1px solid #36B4E5;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}
#wrap main .bg .ir_list a:nth-child(1) {background-image:url(../images/ir/icon_ir01.png);}
#wrap main .bg .ir_list a:nth-child(2) {background-image:url(../images/ir/icon_ir02.png);}
#wrap main .bg .ir_list a:nth-child(3) {background-image:url(../images/ir/icon_ir03.png);}
#wrap main .bg .ir_list a:last-child {margin-right: 0px; background-image: url(../images/ir/icon_ir04.png);}
#wrap main .bg .ir_list a h2 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 6px;
}
#wrap main .bg .ir_list a p {
    font-size: 0.875rem;
    line-height: 1.4;
}